{extend name="common/list" /}
{block name="action"}
	<button class="layui-btn" onclick="xadmin.open('添加栏目','/admin/hr_rule/create',800,600)"><i class="layui-icon"></i>添加</button>
{/block}

{block name="content"}
	<table class="layui-table layui-form">
		<thead>
			<th>id</th>
			<th>内容</th>
			<th>排序</th>
			<th></th>
		</thead>
		<tbody>
			{foreach $datas as $v}
				<tr>
					<td>{$v->id}</td>
					<td>{:strip_tags($v->content)}</td>
					<td>{$v->order}</td>
					<td>
						<a title="编辑"  onclick="xadmin.open('修改','/admin/hr_rule/edit?id={$v->id}',600,400)" href="javascript:;">
                        <i class="layui-icon">&#xe642;</i>
                        </a>
                        	&nbsp;&nbsp;&nbsp;
                        <a title="删除" onclick="del(this)" href="javascript:;" data-url="{:url('admin/hr_rule/delete', ['id' => $v->id])}">
                          <i class="layui-icon">&#xe640;</i>
                        </a></td>
				</tr>
			{/foreach}
		</tbody>
	</table>	
{/block}