<!DOCTYPE html>
<html>
<head>
	<title>{$title??'首页'} -{:cache('config')['title']}</title>
	<link rel="stylesheet" type="text/css" href="/front/style/animation.css">
	<link rel="stylesheet" type="text/css" href="/front/style/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/front/style/global.css">
	<link rel="stylesheet" type="text/css" href="/front/style/index.css">
	<link rel="stylesheet" type="text/css" href="/front/style/reset.css">
	<link rel="stylesheet" type="text/css" href="/front/style/swiper.min.css">
	<meta name="viewport"  content="width=device-width,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">

	<link rel="stylesheet" type="text/css" href="/front/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/front/slick/slick-theme.css">

	<link rel="stylesheet" href="/front/lightbox/lightbox.min.css">

	<meta name="description" content="{:cache('config')['description']}">
    <meta name="Keywords" content="{:cache('config')['keyword']}">

</head>
<body class="bodyhomes">

<div class="header_bar clearfix"><!--nav-->
	<div class="navicon"></div>
	<div class="inner">
		<div class="header_logo"><a href="/"><img src="/uploads/{:cache('config')['logo']}" alt=""></a></div>

		<div class="header_nav clearfix">
			<div class="header_navbar clearfix">  
				<ul>
					<li {if strtolower(request()->controller()) == 'index'} class="active" {/if}>
						
						<a href="{:url('index/index/index')}" >{:lang('index')}</a>
						
					</li>

					{foreach :cache('navs') as $v}
						<li {if $v->is_current()} class="active" {/if}>
							<a href="{:url('index/'.$v->url)}">{$v->lang}</a>
							{if $v->subcates && $v->name=="关于我们"}
							<div class="header_slider">
								{foreach $v->subcates as $k => $v1}
									<a href="{:url($v->url, ['index' => $k])}">
										{$v1->name}
									</a>
								{/foreach}
							</div>
						    {/if}

						    {if $v->subcates && $v->type == "business"}
						    	<div class="header_slider">
								{foreach $v->subcates as $k => $v1}
									<a href="{:url($v->url, ['i' => $k])}">
										{:mb_substr($v1->name,0,6)}
									</a>
								{/foreach}
							    </div>
						    {/if}

						    {if $v->subcates && ($v->type=='product' || $v->type == 'news')}
						    	<div class="header_slider">
								{foreach $v->subcates as $k => $v1}
									<a href="{:url($v->url, ['category_id' => $v1->id])}">
										{:mb_substr($v1->name,0,6)}
									</a>
								{/foreach}
							    </div>
						    {/if}
						</li>

						
					{/foreach}
					<!-- <li>
						<a href="###">关于我们</a>
						<div class="header_slider">
							<a href="###">董事长致辞</a>
							<a href="###">公司介绍</a>
							<a href="###">发展历程</a>
							<a href="###">企业文化</a>
							<a href="###">核心价值</a>
							<a href="###">资质荣誉</a>
							<a href="###">企业视频</a>
						</div>
					</li>
					<li><a href="###">主要产业</a></li>
					<li><a href="###">产品中心</a></li>
					<li><a href="###">新闻中心</a></li>
					<li><a href="###">招商加盟</a></li>
					<li><a href="###">人力资源</a></li>
					<li><a href="###">联系我们</a></li> -->
				</ul>
			</div>

			<div class="header_form" style="">
				<div class="sousuobtn">
					<form action="{:url('index/search/index')}"><input type="text"  name="keyword" placeholder="请输入关键词" />  <button type="submit"></button>
					</form>
				</div>
				
				<div class="Language">

					{if cookie('think_var') == 'zh-cn' || empty(cookie('think_var'))}
				    <a id="lang" href="javascript:;" data-lang="en-us">English</a>
				    {else /}
				    	<a id="lang" href="javascript:;" data-lang="zh-cn">中文</a>
				    {/if}
			    </div>

			</div>
		</div>
	</div>
</div>
{block name="content"}
	
{/block}

<!--footer-->
<div class="footer">
	<div class="footer_bwiner clearfix">
		<div class="inner clearfix">
			<div class="foot_logo">
				{if !empty(cache('config')['bottom_logo'])}
				<img src="/uploads/{:cache('config')['bottom_logo']}" alt="">
				{/if}
			</div>
			<div class="footnavs clearfix">                                           
				<ul>
					{foreach :cache('navs') as $v}
					<li>
						<h3>{$v->lang}</h3>

						{foreach $v->subcates as $k => $sub}
						<a 
						    {if $v->type == 'about'} 
							    href="{:url('index/about/index', ['index' => $k])}" 
							    {elseif $v->type =="business" /} 
							    href="{:url('index/business/index', ['i' => $k])}" 
							    {elseif $v->type=="product" /}
							    href="{:url('index/product/index', ['category_id' => $sub->id])}" 
							    {elseif $v->type=='news'} 
							    href="{:url('index/news/index', ['category_id' => $sub->id])}" 
							    {elseif $v->type == 'hr'} href="{:url('index/hr/index')}" 
						    {/if}>{$sub->lang}
					    </a>
						<!-- {if $v->type == 'contact'}
							地址：大连
						{/if} -->

						<!-- <a href="###">公司介绍</a>
						<a href="###">发展历程</a>
						<a href="###">企业文化</a>
						<a href="###">核心价值</a>
						<a href="###">资质荣誉</a> -->
						{/foreach}

						{php}
							$contact = app\common\model\Contact::find();
						{/php}
						{if $v->type == 'contact'}

							<p>地址：{$contact->address}</p>
							<p>电话：{$contact->phone}</p>
							<p>传真：{$contact->fax}</p>
							<p>邮编：{$contact->post_code??''}</p>
							<p>官网：{$contact->web_site??''}</p>
						{/if}
					</li>
					{/foreach}

					<!-- <li>
						<h3>集团产业</h3>
						<a href="###">现代化渔业园区</a>
						<a href="###">海洋牧场</a>
						<a href="###">水产品加工</a>
						<a href="###">冷链物流</a>
						<a href="###">休闲渔业＆酒店</a>
						<a href="###">科技研发</a>
					</li>
					<li>
						<h3>产品中心</h3>
						<a href="###">活品＆鲜品</a>
						<a href="###">冻品</a>
						<a href="###">海洋食品</a>
						<a href="###">海参</a>
					</li>
					<li>
						<h3>新闻中心</h3>
						<a href="###">集团新闻</a>
						<a href="###">行业动态</a>
						<a href="###">社会责任</a>
					</li>
					<li>
						<h3>招商加盟</h3>
					</li>
					<li>
						<h3>人力资源</h3>
						<a href="###">人才理念</a>
						<a href="###">招贤纳士</a>
						<h3>人力资源</h3>
						<p>地址：中国·大连市庄河经济开发区碧水路888号</p>
						<p>电话：0411-89376568</p>
						<p>传真：0411-89376568</p>
						<p>邮编：116400</p>
						<p>官网：www.dlfugu.com</p>
					</li> -->
				</ul>
			</div>
		</div>

		<div class="copyright">
			<div class="">
				<p>{:cache('config')['copy_right']}　{:cache('config')['lisence']}</p>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="/front/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/front/script/global.js"></script>
<script type="text/javascript" src="/front/script/index.js"></script>
<script type="text/javascript" src="/front/script/swiper.min.js"></script>
<script type="text/javascript" src="/front/script/TouchSlide.1.1.js"></script>
<script src="/front/lightbox/lightbox.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#lang").click(function(){
			let lang = $(this).data('lang');
			$.ajax({
				url:"{:url('index/lang/update')}",
				data:{lang:lang},
				type:'post',
				success:res => {
					location.reload();
				}
			});
		});
	})
</script>
{block name="script"}
	
{/block}
</body>
</html>