{extend name="common/form" /}
	{block name="content"}
	{php}
		$admin = app\common\model\Admin::find(session('admin_id','', 'admin'));
	{/php}
	<div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎管理员：
                                <span class="x-red">{$admin->username}</span>！上次登录IP:{$admin->last_login_ip},上次登录时间：{$admin->last_login_time}
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            	<li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>产品分类</h3>
                                        <p>
                                            <cite>
                                            	{php} $data = app\common\model\Category::type('product')->withCount('subcates')->find();
                                            	echo $data->subcates_count;
                                                {/php}
                                        </cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>产品数量</h3>
                                        <p>
                                            <cite>
                                            	{php} echo app\common\model\Product::count();
                                                {/php}
                                        </cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>新闻数量</h3>
                                        <p>
                                            <cite>
                                            	{php}
												echo app\common\model\News::count();
                                            	{/php}
                                            </cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>招商加盟</h3>
                                        <p>
                                            <cite>
                                            	{php}
												echo app\common\model\JoinUs::count();
                                            	{/php}
                                            </cite></p>
                                    </a>
                                </li>
                                <!-- <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>商品数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6 ">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>6766</cite></p>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>




                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <!-- <tr>
                                        <th>xxx版本</th>
                                        <td>1.0.180420</td></tr>
                                    <tr> -->
                                        <th>服务器地址</th>
                                        <td>{:request()->host()}</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>{:PHP_OS}</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>{$_SERVER['SERVER_SOFTWARE']}</td></tr>
                                    <tr>
                                        <th>PHP版本</th>
                                        <td>{:PHP_VERSION}</td></tr>
                                    <!-- <tr>
                                        <th>PHP运行方式</th>
                                        <td>cgi-fcgi</td></tr>
                                    <tr> -->
                                        <th>MYSQL版本</th>
                                        <td>{:db()->query("select VERSION() as version")[0]['version']}</td></tr>
                                    <tr>
                                        <th>ThinkPHP</th>
                                        <td>{:app()->version()}</td></tr>
                                    <tr>
                                        <th>上传附件限制</th>
                                        <td>{:ini_get('upload_max_filesize')}</td></tr>

                                    <tr>
                                        <th>执行时间限制</th>
                                        <td>{:ini_get('max_execution_time')}秒</td></tr>
                                    <tr>
                                       <!--  <th>剩余空间</th>
                                        <td>86015.2M</td></tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
	{/block}
