{extend name="common/form"}
{block name="content"}

	<form class="layui-form" enctype="multipart/form-data" action="{:url('admin/about/save')}" method="post">
		<div class="layui-form-item">
      <label for="username" class="layui-form-label">
          <span class="x-red"></span>所属栏目
      </label>

      <div class="layui-input-inline">
         <select name="category_id" lay-filter="category">
           {if isset($data)}
              <option value="{$data->id}">{$data->name}</option>
           {else /}
             {foreach $categories as $v}
              <option {:isset($data) && $data->id == $v->id?'selected' :''} value="{$v->id}">{$v->name}</option>
             {/foreach}
           {/if}
         </select>
      </div>
    </div>
  
    <div>

    <Div id="content-area" {if !empty($data) && !$data->is_content} style="display:none"  {/if}> 
     <div class="layui-form-item">
        <label class="layui-form-label">
          内容
        </label>
        <div class="layui-input-block">
          <textarea id="content">{if !empty($data) && !$data->is_content}{else /}
          {$data->aboutus->content??''}{/if}</textarea>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
          英文内容
        </label>
        <div class="layui-input-block">
          <textarea id="en_content" name="en_content">{$data->aboutus->en_content??''}</textarea>
        </div>
      </div>
    </Div>

    <div id="about_area" {if empty($data) || !$data->is_culture} style="display:none" {/if}>

    	{if !empty($data) && $data->is_culture}
    	    {php} $res = explode('|#|', $data->aboutus->content) {/php}
    	{/if}
        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">文化标语</label>
          <textarea name="culturea" id="" cols="80" rows="20">{$res[0]??''}</textarea>
        </div>

        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">企业发展纲要</label>
          <textarea name="cultureb" id="" cols="80" rows="20">{$res[1]??''}</textarea>
        </div>

        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">上传图片</label>
          <button type="button" class="upload-btn">选择图片</button>

        </div>
        <div id="culture_pic" class="layui-form-item">
          {if !empty($res[2])}
            <img src="/uploads/{$res[2]}" width="50" height="50">
            <input type="hidden" name="picture" value="{$res[2]}">
           {/if}
        </div>

        <hr>
        <h2>英文内容</h2>
        {if !empty($data) && $data->is_culture}
          {php} $res = explode('|#|', $data->aboutus->en_content) {/php}
        {/if}
        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">文化标语</label>
          <textarea name="en_culturea" id="" cols="80" rows="20">{$res[0]??''}</textarea>
        </div>

        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">企业发展纲要</label>
          <textarea name="en_cultureb" id="" cols="80" rows="20">{$res[1]??''}</textarea>
        </div>

        <div class="layui-form-item">
          <label for="layui-form-label" class="layui-form-label">上传图片</label>
          <button type="button" class="upload-btn-en">选择图片</button>
        </div>

        <div id="en_culture_pic" class="layui-form-item">
          {if !empty($res[2])}
            <img src="/uploads/{$res[2]}" width="50" height="50">
            <input type="hidden" name="en_picture" value="{$res[2]}">
           {/if}
        </div>

        
    </div>

    <div id="picture_area" {if empty($data) || !$data->is_honor} style="display: none;" {/if}>
      <div>
      <span class="uploads">选择图片(建议300 * 200)</span>
      </div>
    </div>
    <div id="honors" style="display: flex; margin:10px">
     {if isset($data) && $data->is_honor}
        {foreach $data->aboutus->honor_pics as $pic}
          <div style="margin:5px">
            <img src="/uploads/{$pic}" width="50" height="50">
            
            <input type="hidden" value="{$pic}" name="content">
             
          </div>
        {/foreach}
     {/if}
    </div>

  </div>
  



        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" type="button" lay-submit="">增加</button>
        </div>
	</form>


<script type="text/javascript">

// $(document).find('#honors').find('img').on('click', function(){
//     //$(this).parent().remove();
//     alert('clicked');
//   })

layui.use(['upload'], function(){
   $ = layui.jquery;
   var upload = layui.upload;
   var uploadInst = upload.render({
        elem: '.uploads', //绑定元素
        url: '{:url("admin/file_upload/upfile")}', //上传接口

        before: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#demo1').attr('src', result); //图片链接（base64）
            });
        },
        done: function(res){
             console.log(res.data);
             $("#honors").append('<div style=margin:5px><img src='+res.data.src+' width=50 height=50><input type=hidden name="content" value='+res.data.save_name+'></div>');
             //$("#filename").append('<input type=hidden name="album[]" value='+res.data.save_name+'>');
            //$('#img').append('<input type="hidden" value="'+res.filename+'" name="a_profile"/>');
        }
        ,error: function(){
            //请求异常回调
        }
    });

   	var uploads = upload.render({
   		elem:".upload-btn",
   		url: '{:url("admin/file_upload/upfile")}', //上传接口
   		done: function(res){
             $("#culture_pic").html('<div style=margin:5px><img src='+res.data.src+' width=50 height=50><input type=hidden name="picture" value='+res.data.save_name+'></div>');
        }
   	})

    var uploads = upload.render({
      elem:".upload-btn-en",
      url: '{:url("admin/file_upload/upfile")}', //上传接口
      done: function(res){
        $("#en_culture_pic").html('<div style=margin:5px><img src='+res.data.src+' width=50 height=50><input type=hidden name="en_picture" value='+res.data.save_name+'></div>');
      }
    })	

   
})
$(function(){
  $(document).on('click', '#honors img', function(e){
    //alert('asdasds');
    $(e.target).parent().remove();
   // console.log(e.target);
  })
})


  

</script>
{/block}